/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #3b3c49;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #18203a;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    color: #3ac7f7;
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

header p {
    color: #85cfe7;
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Sections */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture {
    flex: 1;
    text-align: center;
}

.profile-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about {
    flex: 2;
    padding-left: 20px;
}

.section {
    padding: auto;
    margin: 20px 0;
    background: #18203a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
    text-align: center;
    color: #3ac7f7;
    margin-bottom: 20px;
}

.section p, .section ul {
    margin: 10px 0;
}

/* Projects */
.project {
    margin-bottom: 20px;
}

.project h3 {
    color: #025cbb;
}

.project a {
    color: #ffffff;
    text-decoration: underline;
}

.first-link {
    margin-left: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

.form input, .form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #e0dbdb;
    font-size: 16px;
}

.form button {
    padding: 15px;
    background: #025cbb;
    color: #ffffff;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #3ac7f7;
    margin-top: 20px;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}

.form-container {
    padding-left: 25%;
}